---
import { Image } from "astro:assets";
import { Clock, Star, Calendar } from "@lucide/astro";

import movies from "../data/movies.json";
// Importar imágenes
import peli1 from "../assets/betterman.webp";
import peli2 from "../assets/chainsawman.webp";
import peli3 from "../assets/spiderman.webp";
import peli4 from "../assets/endgame.webp";
import peli5 from "../assets/nowayhome.webp";
import peli6 from "../assets/f1.webp";


const imagenes = {
  peli1,
  peli2,
  peli3,
  peli4,
  peli5,
  peli6,
};
---

<section id="pelis" class="my-10 mx-7 text-white">
  <div class="container mx-auto px-6">
    <div class="text-center space-y-3 mb-10">
      <h2 class="text-3xl md:text-4xl lg:text-6xl font-bold">Películas</h2>
      <p>Explora nuestra Cartelera de películas.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        movies.map((movie) => (
          <div class="movie-card rounded-xl bg-slate-900 shadow-lg movie-card p-6 hover:shadow-2xl transition-all duration-300">
            <div class="h-64 rounded-lg mb-4 overflow-hidden">
              <Image
                src={imagenes[movie.image]}
                class="w-full h-full object-cover"
                alt={movie.title}
                loading="eager"
              />
            </div>
            <div>
              <h3 class="text-2xl font-bold">{movie.title}</h3>
              <h5 class="text-sm mb-2">{movie.subtitle}</h5>
            </div>
            <div class="flex items-center mb-2 gap-4">
              <div class="flex items-center">
                <span class="text-gray-400">{movie.duration}</span>
                <Clock size={20} class="text-blue-500" />
              </div>
              <div class="flex items-center">
                <span class="text-gray-400">{movie.rating}</span>
                <Star size={20} class="text-yellow-300" />
              </div>
              <div class="flex items-center">
                <span class="bg-blue-600 px-2 py-1 rounded text-xs">
                  {movie.genre}
                </span>
              </div>
            </div>
            <p class="text-gray-300 line-clamp-4">{movie.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
<style>
  .movie-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 25px 50px -12px rgba(55, 55, 55, 0.5);
  }
</style>
