---
import { Clock, Star, Calendar } from "@lucide/astro";

export const prerender = true;
export const revalidate = 60 * 60 * 168;

const res = await fetch("https://api.themoviedb.org/3/movie/now_playing?language=es-ES&page=1&region=PE", {
  headers: {
    accept: "application/json",
    Authorization: `Bearer ${import.meta.env.TMDB_ACCESS_TOKEN}`
  }
});

const data = await res.json();
const movies = data.results.slice(0, 20);

const genreRes = await fetch("https://api.themoviedb.org/3/genre/movie/list?language=es-ES", {
  headers: {
    accept: "application/json",
    Authorization: `Bearer ${import.meta.env.TMDB_ACCESS_TOKEN}`
  }
});

const genreData = await genreRes.json();
const genres = genreData.genres;

function getGenreNames(ids) {
  return ids
    .map(id => genres.find(g => g.id === id)?.name)
    .filter(Boolean);
}

function formatDate(dateString: string) {
  if (!dateString) return "";
  const date = new Date(dateString);
  return new Intl.DateTimeFormat("es-ES", {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(date);
}
---

<section id="encines" class="my-10 mx-7 text-white">
  <div class="container mx-auto px-6">
    <div class="text-center space-y-3 mb-10">
      <h2 class="text-3xl md:text-4xl lg:text-6xl font-bold">Estrenos</h2>
      <p>Películas que se estrenaron en cines recientemente.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        movies.map((movie) => (
          <div class="movie-card rounded-xl bg-slate-900 shadow-lg movie-card p-6 hover:shadow-2xl transition-all duration-300">
            <div class="h-64 rounded-lg mb-4 overflow-hidden">
              <img
                src={`https://image.tmdb.org/t/p/original${movie.backdrop_path}`}
                class="w-full h-full object-cover"
                alt={movie.title}
                loading="eager"
              />  
            </div>
            <div class="flex items-center text-gray-400 mb-2 gap-2">
              <h3 class="text-2xl font-bold line-clamp-2">{movie.title}</h3>
            </div>
            <div class="flex items-center mb-2 gap-4">
              <div class="flex items-center gap-1">
                <span class="text-gray-400">{movie.release_date}</span>
                <Calendar size={20} class="text-green-300" />
              </div>
              <div class="flex items-center gap-1">
                <span class="text-gray-400">{movie.vote_average}</span>
                <Star size={20} class="text-yellow-300" />
              </div>
              <div class="flex items-center">
                <span class="bg-blue-600 px-2 py-1 rounded text-xs">
                  {getGenreNames(movie.genre_ids).length > 0 
                  ? getGenreNames(movie.genre_ids).slice(0, 1).join(", ") 
                  : "Variado"}
                </span>
              </div>
            </div>
            <p class="text-gray-300 line-clamp-4">{movie.overview}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
<style>
  .movie-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 25px 50px -12px rgba(55, 55, 55, 0.5);
  }
</style>
