---
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";
import Header from '../components/Header.astro';
import Hero from '../components/HeroAPI.astro';
import Footer from '../components/Footer.astro';


interface Props {
	title: string;
	description?: string;
	imageUrl?: string;
	pageUrl?: string;
}

const { description, title, imageUrl = '/og-cinerama.jpg', pageUrl = 'https://cinerama-seven.vercel.app' } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<!-- html meta tags -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Open Graph / Facebook / Discord -->
		<meta property="og:url" content={pageUrl} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={imageUrl} />

		<ClientRouter />
	</head>
	<body>
		<Header />
		<Hero />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0)
	}

	#header-nav {
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.1),
            0px 0px 0 1px rgba(0, 0, 0, 0.3);
          background: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(10px);
        }
      }

	section {
		scroll-margin-top: 100px; 
		}

		/* Tablets */
		@media (min-width: 768px) {
		section {
			scroll-margin-top: 50px; 
		}
		}

		/* Escritorio */
		@media (min-width: 1024px) {
		section {
			scroll-margin-top: 100px; 
		}
	}
</style>
